body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.heading-sec, .about-sec, .card-div, .vertical-card{
    display: flex;
}
.half-width{
    width: 43%;
    padding: 60px;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 40px;
}
.span-tag{
    color: orange;
}
.span-color{
    color:rgb(83, 83, 83)
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient( tomato, orange);
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 40px;
}

#about-me-img{
    width: 61%;
    padding-left: 130px;
}
.about-sec{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.recipie-heading{
    width: 50%;
    padding-left: 25%;
    text-align: justify;
}
.recipie-heading h2{
    text-align: center;

}
.card-div{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
.card{
    text-align: center; 
    box-shadow: 10px 10px 40px grey;
    height: 500px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 30px;
}

.card-div img{
    width: 100%;
    height: 60%;
}

.vertical-card{
    box-shadow: 10px 10px 40px grey;
    height: 200px;
    margin: 100px;
    /* padding: 10px; */
    border-radius: 20px;
}
.vertical-card div{
    text-align: center;
    margin-left: 180px;
    margin-right: 10px;

}

/* Menu style */
.menu-div{
    display: flex;
    width: 80%;
    padding-left: 8%;
    padding-right: 5%;
}
.menu-heading{
    width: 50%;
    padding-left: 25%;
    text-align: justify;
}
.menu-heading h2{
    text-align: center;
}
.menu-card{
    text-align: center; 
    box-shadow: 10px 10px 40px grey;
    height: 300px;
    margin-left: 70px;
    margin-right: 15px;
    padding: 10px;
}
.menu-card{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
}
.menu-div img{
    width: 100%;
    height: 90%;
}
.menu-card h3{
    margin: -5px;
}

/* Kitchen Expert style */
.kitchen-expert-div{
    display: flex;
    width: 75%;
    padding-left: 18%;
    padding-right: 5%;
}
.kitchen-expert-heading{
    width: 50%;
    padding-left: 25%;
    text-align: justify;
}
.kitchen-expert-heading h2{
    text-align: center;

}
.kitchen-expert-card{
    text-align: center; 
    box-shadow: 10px 10px 40px grey;
    height: 300px;
    margin-left: 70px;
    margin-right: 15px;
    padding: 10px;
}
.kitchen-expert-card{
    border-left: 7px solid;
    border-image: linear-gradient(yellow, green);
    border-image-slice: 1;
}
.kitchen-expert-div img{
    width: 100%;
    height: 90%;
}

.kitchen-expert-card h3{
    margin: -5px;
}








.vertical-card div p{
    margin: -50px;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}